.option {
  padding: 12px 16px;
  border-bottom: var(--slim-grey-border);

  &:hover {
    background-color: var(--grey-975-100);
  }
}

.focused {
  background-color: var(--grey-975-100);
}

.disabled {
  cursor: auto;

  &:hover {
    background-color: var(--background-default-grey);
  }
}
