.input {
  position: relative;
}

.icon {
  position: absolute;
  right: 8px;
  top: 8px;

  &:hover {
    background-color: transparent !important;
  }
}

.searchIcon {
  color: var(--blue-france-sun-113-625);
}

.options {
  cursor: pointer;
  position: absolute;
  width: 100%;
  display: none;
  background-color: white;
  border-top: var(--slim-grey-border);
  box-shadow: 0px 12px 32px -8px rgba(0, 0, 36, 0.12);
  max-height: 480px;
  overflow-y: scroll;
  z-index: 2;
}

.visible {
  display: block;
}

.category {
  padding: 12px 16px;
  border-bottom: var(--slim-grey-border);
}
