.container {
  border-top: var(--slim-grey-border);
  padding: 16px 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* md */
  @media (min-width: 48em) {
    padding: 24px 0;
    border-bottom: var(--slim-grey-border);
  }

  > * {
    display: flex;
    gap: 8px;
  }
}
