.container {
    border-bottom: var(--slim-grey-border);
    border-top: var(--slim-grey-border);
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
