.modal {
  :global(.fr-modal__header) {
    display: none;
  }
  
  :global(.fr-modal__content) {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  :global(.fr-modal__footer) {
    border-top: var(--slim-grey-border);
  }

  a {
    width: 100%;
    justify-content: center;
  }
}

.container {
  position: sticky;
  top: 24px;
}

.buttons {
  display: flex;
  justify-content: space-between;

  @media (min-width: 768px) {
    display: block;
  }
}

.button {
  display: none;
  width: 100%;

  @media (min-width: 768px) {
    display: inline-flex;
  }
}

.alwaysVisibleButton {
  display: inline-flex;
  width: fit-content;

  @media (min-width: 768px) {
    width: 100%;
  }
}

.button,
.alwaysVisibleButton {
  justify-content: center;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
