.dateInformations {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.publishedAndUpdatedSeparator{
  height: 8px;
  width: 0;
  border-right: var(--slim-grey-border);
  display: inline-block;
  margin-right: -4px;
}

.title {
  margin-top: 8px;

  @media (min-width: 768px) {
    margin-top: 32px;
  }
}

.imageContainer {
  width: 100%;
  background: var(--background-contrast-info);
  display: block;
  overflow:hidden;
  aspect-ratio: 1.4;

  @media (min-width: 768px) {
    margin-top: 16px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0 auto;
  }
}

.header {
  display: flex;
}

.image {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  display: block;
}

.content {
  border-top: var(--slim-grey-border);
  padding-top: 12px;
  padding-bottom: 32px;

  @media (min-width: 768px) {
    padding-top: 16px;
    padding-bottom: 40px;

    &:global(.is-first){
      padding-top: 32px;
    }
  }
}

.viewsAndMetadata{
  padding-bottom: 0;

  @media (min-width: 768px) {
    padding-bottom: 24px;
  }
}
