.sideMenu {
  margin: 32px 0;

  @media (min-width: 768px) {
    margin: 48px 0 0 24px;
    padding-right: 0;

    :global(.fr-sidemenu__inner) {
      box-shadow: unset;
      padding-right: 0;
    }
  }
}
