.sideMenu{
    :global(.fr-sidemenu__inner){
        box-shadow: none;
    }
    :global(.fr-sidemenu__btn), :global(.fr-sidemenu__link){
        font-size: 14px !important;
    }
}


/**
  Hacky overrides for a decent print layout of the details component
 */
.print {
    * {
        border-top: none !important;
        border-bottom: none !important;
        border-left: none !important;
        border-right: none !important;
    }

    hr {
        display: none;
        margin-bottom: 0 !important;
        opacity: 0;
    }

    :global .print-separator {
        display: block !important;
        margin-bottom: 16px !important;
        opacity: 1 !important;
        width: 100% !important;
    }

    h1 {
        line-height: 32px !important;
        font-size: 28px !important;
    }

    h2 {
        line-height: 28px !important;
        font-size: 24px !important;
    }

    h5 {
        border-top: var(--slim-grey-border) !important;
        padding-top: 24px;
        line-height: 26px !important;
        font-size: 22px !important;
        margin-bottom: 8px !important;
        color: var(--text-title-blue-france);
    }

    div, p {
        font-size: 12px !important;
        line-height: 18px !important;
    }

    .box {
        padding: 0 !important;
    }

    :global .fr-badge {
        margin-left: -6px !important;
        font-size: 10px !important;
        background: transparent !important;
    }



}

