.fr-flex {
  display: flex;
}

.fr-inline-flex {
  display: inline-flex;
}

.fr-display-block {
  display: block;
}

.fr-display-inline-block {
  display: inline-block;
}

/* md display rules */
@media (min-width: 48em) {
  .fr-display-block-md {
    display: block;
  }
}
