/* No underline when not hovered */
.fr-link--underline-on-hover {
  &:not(:hover) {
    background-image: none !important;
  }

  &:hover,
  &:active {
    --underline-hover-width: 1px !important;
  }
}

.fr-link--background-on-hover {
  &:hover,
  &:active {
    background-color: var(--hover) !important;
  }
}

.fr-link--no-underline {
  background-image: none !important;

  &:hover,
  &:active {
    --underline-hover-width: 0 !important;
  }
}

.fr-no-hover-bg:hover {
  background-color: transparent;
}

.fr-no-hover-bg:active {
  background-color: transparent;
}
