.fr-link--quick-action {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
  background-color: var(--background-alt-blue-france);
  border: 2px solid var(--background-alt-blue-france);
  color: var(--text-label-blue-france);
  font-weight: bold;
  padding: 1.5em 2em;
  background-image: none;
  border-radius: 16px;
  text-align: start;

  &:hover {
    background-color: var(--background-alt-blue-france-hover) !important;
    border: 2px solid var(--border-default-blue-france);
  }

  &:active {
    background-color: var(--background-alt-blue-france-active) !important;
  }
}
