.container {
  padding: 24px 32px;
  display: flex;
  gap: 32px;
  align-items: center;
  border: var(--slim-grey-border);
  background-image: none;

  &:not(:first-of-type) {
    margin-top: 24px;
  }
}

.content {
  flex: 1;
}

.footer,
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  color: var(--text-mention-grey);
}

.badge {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.icons {
  display: flex;
  gap: 8px;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.logo {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  background-color: #E8EDFF;
}