.section {
    max-width: 996px;

    :global a.fr-btn {
        width: 100%;
        text-align: center;
        display: block;

        @media (min-width: 48em) {
            width: fit-content;
        }
    }
}

.hero {
    text-align: center;
}

.homeImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeImage {
    width: 100%;
    max-width: 384px;
    height: auto;
    margin: 0 auto;
}

.rowReverse {
    flex-direction: row-reverse;
}

.homeCardsContainer{
    padding-bottom: 40px;
    max-width: 792px;
    margin: 0 auto;

    > h2 {
        text-align: center;
        margin-bottom: 48px;
    }

}

.card {
    margin-top: 24px;
    padding: 32px;
    border: var(--slim-grey-border);

    @media (min-width: 48em) {
        padding: 40px;
    }

    h3 {
        color: var(--text-title-blue-france);
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 0;
        margin-top: 16px;

        @media (min-width: 48em) {
            margin-top: 0;
        }
    }

    hr {
        margin-top: 32px;
        margin-bottom: 32px;
        padding-bottom: 1px;
    }

    h6 {
        margin-top: 32px;
        margin-bottom: 16px;
    }

    p {
        margin: 16px 0 0;
    }
}

.cardHeader{
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (min-width: 48em) {
        flex-direction: row;
    }
}

.roundNumber {
    flex-shrink: 0;
    display: inline-flex;
    height: 48px;
    width: 48px;
    margin-right: 16px;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--background-contrast-info);
    color: var(--text-title-blue-france);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.cardSubtitleIcon{
    margin-right: 8px;
    color: var(--text-title-blue-france);
}
