.container {
  /* TODO Implement DSFR */
}

.control {
  /* TODO Implement DSFR */
}

.valueContainer {
    /* TODO Implement DSFR */
}

.loadingSpinnerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.noOptionsContainer {
  text-align: left;
}
