.container {
  --side-nav-width: 268px;
}

.sideNavContainer {
  width: 100%;

  @media (min-width: 48em) {
    width: var(--side-nav-width);
  }
}

.pageContainer {
  min-height: 100%;
  padding: 0 16px;

  @media (min-width: 48em) {
    width: calc(100% - var(--side-nav-width));
    padding: 0 32px 0 0;
  }

  padding-bottom: 120px;
}
