/* Import dsfr with url, outside of webpack build, as a static file */
@import url('/dsfr/dsfr.min.css');
@import url('/dsfr/utility/utility.min.css');
@import url('https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css');

/* Layout setup */
html,
body,
body > div:not(#environment-information) {
  min-height: 100% !important;
  height: 100%;
}

textarea {
  resize: none;
}

:root {
  --slim-grey-border: 1px solid var(--border-default-grey);
}

/* Extensions of DSFR */
.fr-text--medium {
  font-weight: 500 !important;
}

/* DSFR Overrides and custom theming */

/* Remove header dropshadow */

.fr-header {
  filter: none;

  /* Custom user menu */
  .fr-header__tools-links {
    &::after {
      margin-top: 0;
    }

    .fr-btn {
      margin-bottom: 0;
      min-height: unset !important;
      padding: 8px 16px !important;
      font-size: 0.875rem !important;
    }
    
    .icon-only {
      padding: 8px 12px !important;
    }
  }

  .fr-header__brand {
    filter: none;
    border-bottom: var(--slim-grey-border);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .fr-menu {
    margin: 10px 0;
    padding: 0;
  }
}

@media (min-width: 62em) {
  /* lg */
  .fr-header {
    box-shadow: inset 0 -1px 0 0 var(--border-default-grey),
      inset 0 1px 0 0 var(--border-default-grey);

    .fr-header__body-row {
      padding: 16px 0;
    }

    .fr-header__menu {
      .fr-nav__link:hover {
        box-shadow: inset 0 -1px 0 0 var(--border-default-grey),
          inset 0 1px 0 0 var(--border-default-grey);
      }
    }

    .fr-header__tools-links {
      margin-bottom: 0;
    }

    .fr-header__brand {
      border-bottom: none;
      padding-top: 0;
      padding-bottom: 0;
    }

    .fr-menu__list {
      box-shadow: none;
    }
  }
}
