@import url('./dsfr-imports.css');
@import url('./dsfr-overrides.css');
@import url('./helpers.css');
@import url('./skeleton.css');

/* Layout setup */
html,
body,
body > div:not(#environment-information, #print) {
  min-height: 100% !important;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

textarea {
  resize: none;
}

.formulaire-gouvernance-no-footer-margin-bottom {
  margin-bottom: 200px;
}

.fr-narrow {
  max-width: 588px;
  margin-right: auto;
  margin-left: auto;
}
