@import url('./dsfr-imports.css');
@import url('./dsfr-overrides.css');
@import url('./helpers.css');
@import url('./skeleton.css');
@import url('./progress.css');
@import url('./grid.css');

/* Layout setup */
html,
body,
body > div:not(#environment-information, #print) {
  min-height: 100% !important;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

textarea {
  resize: none;
}
