@import url('./dsfr-imports.css');
@import url('./dsfr-overrides.css');
@import url('./helpers.css');
@import url('./skeleton.css');
@import url('./progress.css');

/* Layout setup */
html,
body,
body > div:not(#environment-information, #print) {
  min-height: 100% !important;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

textarea {
  resize: none;
}

:root {
  --edition-container-internal-width: 588px;

  /* We need padding for the drag button absolute positioning on the left of the edition content list */
  --edition-container-x-padding: 48px;
  --edition-container-max-width: calc(
    var(--edition-container-internal-width) + var(--edition-container-x-padding) *
      2
  );
  --big-smooth-shadow: 0px 12px 32px -8px rgb(0 0 36 / 12%);
}
