.card {
    display: flex;
    gap: 24px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.content {
    flex-grow: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
