.header {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: var(--slim-grey-border);
}

.headerTitle {
  display: flex;
  align-items: center;
  gap: 12px;

  h3,
  h6 {
    margin-bottom: 0;
  }
}

.headerDescription {
  margin-top: 4px;
}