.fr-badge {
  text-transform: initial;
}

.fr-badge--triumph {
  background-color: var(--green-emeraude-950-100);
  color: var(--green-emeraude-sun-425-moon-753);

  [class^='ri-'],
  [class*=' ri-'] {
    color: var(--green-emeraude-main-632) !important;
  }
}

.fr-badge--lg {
  font-size: 1rem;
  padding: 0.5rem;

  &::before {
    --icon-size: 1.5rem;
  }
}
