.accordionTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    row-gap: 8px;
    padding: 12px 0;

    p {
        font-weight: 400;
    }

    /* Not a regular breakpoint, optimized for homepage */
    @media (min-width: 800px) {
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }


}

.categoryInfos {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    @media (min-width: 576px){
        flex-direction: row;
    }

}

.categoryInfoSeparator {
    display: none;
    margin: 0 8px;

    @media (min-width: 576px) {
        display: initial;
    }
}

.categoryInfo {
    white-space: nowrap;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 8px;
    padding-top: 8px;

    :global .fr-tag{
        white-space: nowrap;
    }
}
