.card {
    width: 100%;
    max-width: 588px;
    margin: 48px auto 120px;
    padding: 16px 16px 24px;
    background-color: white;
    border: var(--slim-grey-border);

    @media (min-width: 36em) {
        /*! media sm */
        padding: 32px 32px 40px;
    }
}

.pictureContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
