.container {
  position: relative;
}

.copiedHover {
  position: absolute;
  background-color: var(--grey-50-1000);
  font-size: 11px;
  color: var(--background-default-grey);
  padding: 2px 4px;
  border-radius: 4px;
  top: -32px;
  right: 0;
}
