/*
   Import order is not respected  (see https://github.com/vercel/next.js/issues/16630)
   As a (desperate) workaround we import in this module as it is bundled first with app.css
   Move these import accordingly if another global css module is added
 */

@import '../app/dsfr-import.css'; /* stylelint-disable-line import-notation */

.green {
  color: var(--text-default-success);
  background-color: var(--background-contrast-success);
}

.grey {
  background-color: var(--grey-950-150);
  color: var(--grey-50-1000);
}

.orange {
  background-color: var(--background-contrast-brown-caramel);
  color: var(--text-action-high-brown-caramel);
}

.tag {
  /* fr-tag has a z-index of 1 that makes tags visible e.g. over modal footer so we need to set it back to initial */
  z-index: initial;
}
