.green {
  color: var(--text-default-success);
  background-color: var(--background-contrast-success);
}

.grey {
  background-color: var(--grey-950-150);
  color: var(--grey-50-1000);
}

.orange {
  background-color: var(--background-contrast-brown-caramel);
  color: var(--text-action-high-brown-caramel);
}

.blue {
  background-color: var(--blue-france-975-sun-113);
  color: var(--blue-france-sun-113-625);
}

.tag {
  /* fr-tag has a z-index of 1 that makes tags visible e.g. over modal footer so we need to set it back to initial */
  z-index: initial;
  white-space: nowrap;
  flex-shrink: 0;
}

.iconOnly {
  padding: 16px;
  border-radius: 8px;
}
