.container {
  background-color: var(--blue-france-975-75);
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 48rem) {
  .container {
    padding: 3rem;
  }
}
