.buttons {
  display: flex;
  gap: 16px;
}

.select {
  appearance: auto;
  padding-right: 8px;
  font-size: 14px;
  font-weight: 500;
  color: var(--blue-france-sun-113-625);
}

.selected {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
