.bodyContainer {
  padding-left: 12px;
  padding-right: 12px;

  @media (min-width: 48em) {
    padding-left: 16px;
    padding-right: 16px;
  }

  @media (min-width: 62em) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.logo {
  width: 56px;
  height: 56px;
  flex-basis: 56px;
  flex-shrink: 0;

  &.nonPublic {
    width: 40px;
    height: 40px;
    margin-right: 4px !important;
  }
}

.serviceTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  &.nonPublic {
    white-space: nowrap;
    width: 352px;
  }

  &.public {
    max-width: 280px;
    font-size: 18px;
  }
}
