.collapse {
  right: 0;
  left: auto;
}

.mobile {
  padding: 0 !important;
  > ul {
    border-top: var(--slim-grey-border);
    padding: 0 !important;

    a {
      color: var(--blue-france-sun-113-625);
      font-weight: 500;
    }
  }
}
