.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal !important;
  flex-shrink: 0;
}

.small {
  width: 32px;
  height: 32px;

  .icon {
    line-height: 16px !important;
    font-size: 16px !important;
    max-height: 16px;
    max-width: 16px;

    &::before {
      max-height: 16px;
      max-width: 16px;
    }
  }
}

.medium {
  width: 48px;
  height: 48px;

  .icon {
    line-height: 24px !important;
    font-size: 24px !important;
    max-height: 24px;
    max-width: 24px;

    &::before {
      max-height: 24px;
      max-width: 24px;
    }
  }
}

.large {
  width: 76px;
  height: 76px;

  .icon {
    line-height: 30px !important;
    font-size: 30px !important;
    max-height: 30px;
    max-width: 30px;

    &::before {
      max-height: 30px;
      max-width: 30px;
    }
  }
}
