.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

.icon {
    line-height: 20px !important;  max-height: 20px;
    max-width: 20px;
    &:before {
        max-height: 20px;
        max-width: 20px;
    }
}
