.input {
  position: relative;
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 4px 16px;
  max-height: unset !important;
}

.internalInput {
  flex: 1;
  outline-width: 0;
  height: 32px;
  padding: 0;
  box-shadow: unset;
}

.icon {
  position: absolute;
  right: 8px;
  bottom: 8px;

  &:hover {
    background-color: transparent !important;
  }
}

.searchIcon {
  color: var(--blue-france-sun-113-625);
}

.options {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  width: 100%;
  display: none;
  background-color: white;
  border-top: var(--slim-grey-border);
  box-shadow: 0 12px 32px -8px rgb(0 0 36 / 12%);
  max-height: 400px;
  overflow-y: scroll;
}

.visible {
  display: block;
}

.category {
  padding: 12px 16px;
  border-bottom: var(--slim-grey-border);
}