.input {
  position: relative;
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 0 16px;
  max-height: unset !important;
  background-color: var(--background-contrast-grey);
  border-radius: 0.25rem 0.25rem 0 0;
  box-shadow: inset 0 -2px 0 0 var(--border-plain-grey) !important;
  border: none;
}

.internalInput {
  outline-width: 0;
  height: 40px;
  padding: 0;
  box-shadow: unset;
}

.icon {
  position: absolute;
  right: 8px;
  bottom: 8px;

  &:hover {
    background-color: transparent !important;
  }
}

.searchIcon {
  color: var(--blue-france-sun-113-625);
}

.options {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  width: 100%;
  display: none;
  background-color: var(--background-default-grey);
  border-top: 1px solid var(--border-default-grey);
  box-shadow: 0 12px 32px -8px rgb(0 0 36 / 12%);
  max-height: 400px;
  overflow-y: scroll;
}

.visible {
  display: block;
}

.category {
  padding: 12px 16px;
  border-bottom: 1px solid var(--border-default-grey);
}

.selected {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.selectedRelative {
  position: relative;
  z-index: 1;
}
