.calendar {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    width: 224px;

    :global .react-calendar__tile--active {
        background-color: var(--background-action-high-blue-france) !important;
        color: var(--grey-1000-75) !important;

        &:active {
            background-color: var(--background-action-high-blue-france-active) !important;
        }

        &:hover {
            background-color: var(--background-action-high-blue-france-hover) !important;
        }
    }

    :global .react-calendar__month-view__weekdays__weekday {
        font-weight: 700;
        color: var(--text-active-blue-france);

        > abbr {
            text-decoration: none;
        }
    }

    :global .react-calendar__tile {
        padding: 4px;
        height: 32px;
    }


}

.today {
    background-color: var(--background-action-low-blue-france) !important;

    &:active {
        background-color: var(--background-action-low-blue-france-active) !important;
    }

    &:hover {
        background-color: var(--background-action-low-blue-france-hover) !important;
    }
}
