.container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;

    @media (min-width: 48em) {
        background: var(--blue-france-975-75);
        padding: 0;
    }
}


.left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: var(--background-default-grey);
    padding: 24px 16px 32px;
    margin: 0;

    @media (min-width: 48em) {
        width: 50%;
        padding: 40px 32px;
    }

    overflow-y: auto;

}

.contentContainer {
    min-height: 60vh;

    @media (min-width: 48em) {
        padding: 0 8px;
        max-width: 500px;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.icon {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: var(--yellow-tournesol-950-100);
    color: var(--yellow-tournesol-sun-407-moon-922);
}

.right {
    width: 50%;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.illustration {
    object-fit: contain;
    width: 100%;
    object-position: 0 0;
}

.illustrationBackgroundBlueFrance925125 {
    background: var(--blue-france-925-125);
}

.illustrationBackgroundBlueFrance97575 {
    background: var(--blue-france-975-75);
}

.steps {
    font-size: 14px;

    @media (min-width: 48em) {
        font-size: 16px;
    }
}

.buttons {
    display: flex;
    gap: 16px;
    margin-top: 16px;

    @media (min-width: 48em) {
        margin-top: 24px;
    }
}

.title {
    margin: 16px 0;

}


.closeButton {
    position: absolute;
    top: 24px;
    right: 16px;
    background: var(--background-default-grey);

    @media (min-width: 48em) {
        top: 32px;
        right: 32px;
    }
}

.mdBackgroundBlueFrance925125 {
    @media (min-width: 48em) {
        background: var(--blue-france-925-125);
    }
}

.mdBackgroundBlueFrance97575{
    @media (min-width: 48em) {
        background: var(--blue-france-975-75);
    }
}


