.link {
  background-image: none;
  line-height: 0;
  
  &::after {
    content: none;
  }
}

.preview {
  border: var(--slim-grey-border);
  padding: 8px;
  margin-bottom: 16px;
  
  &:hover {
    background-color: var(--hover);
  }
}
