.container {
  padding-top: 16px;
  border-top: var(--slim-grey-border);

  &:not(:first-of-type) {
    margin-top: 24px;
  }
}

.textAndDescription {
  flex-direction: column;
}

.imageContainer {
  text-decoration: none;
  width: 100%;
  margin-bottom: 16px;
  background: var(--background-contrast-info) !important;
  display: block;
  overflow:hidden;
  aspect-ratio: 1.4;

  @media (min-width: 768px) {
    width: auto;
    margin-bottom: 0;
    flex-shrink: 0;
  }

  img {
    object-fit: cover;
    object-position: center;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    @media (min-width: 768px) {
      width: 180px;
      height: 130px;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}

.content {
  display: flex;
  gap: 0 24px;
  flex-direction: column-reverse;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    > :first-child {
      flex-grow: 1;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;

  @media (min-width: 768px) {
    margin-top: 16px;
  }
}

.title {
  margin-bottom: 8px;

  @media (min-width: 768px) {
    margin-bottom: 12px;
  }
}

.footerRight {
  display: flex;
  gap: 8px;
}
