.container {
  padding-top: 16px;
}

.header {
  margin-bottom: 8px;
  flex-direction: column;

  @media (min-width: 768px) {
    align-items: center;
    margin-bottom: 16px;
  }
}

.content,
.header {
  display: flex;
  justify-content: space-between;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.content {
  gap: 0 24px;
  flex-direction: column-reverse;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.title {
  margin-bottom: 8px;

  @media (min-width: 768px) {
    margin-bottom: 12px;
  }
}

.image {
  width: 180px;
  height: 140px;
  object-fit: contain;
}

.footerRight {
  display: flex;
  gap: 32px;
}
