.container {
  padding-top: 16px;
  border-top: var(--slim-grey-border);

  &:not(:first-of-type) {
    margin-top: 24px;
  }
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: none;
  width: 100%;
  min-height: 100px;
  margin-bottom: 16px;
  
  img {
    max-height: 200px;
    max-width: 100%;
  }
  
  @media (min-width: 768px) {
    margin-bottom: 0;
    align-items: flex-start;
    flex-shrink: 0;
    width: 340px;
    min-width: 340px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}

.content {
  display: flex;
  gap: 0 24px;
  flex-direction: column-reverse;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    > :first-child {
      flex-grow: 1;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.title {
  margin-bottom: 8px;

  @media (min-width: 768px) {
    margin-bottom: 12px;
  }
}

.footerRight {
  display: flex;
  gap: 8px;
}
