.container {
  padding-top: 16px;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--border-default-grey);

  &:first-of-type {
    border-top: 1px solid var(--border-default-grey);
  }

  @media (min-width: 576px) {
    padding-bottom: 48px;
  }
}

.textAndDescription {
  flex-direction: column;

  /* This fixes text overflow (see .description ) */
  min-width: 0;
}

.imageContainer {
  text-decoration: none;
  width: 100%;

  /* 576px breakpoint - padding */
  max-width: 544px;
  margin-bottom: 16px;
  background: var(--background-contrast-info) !important;
  display: block;
  overflow: hidden;
  aspect-ratio: 1.4;

  @media (min-width: 768px) {
    width: auto;
    margin-bottom: 0;
    flex-shrink: 0;
  }

  img {
    object-fit: cover;
    object-position: center;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    @media (min-width: 768px) {
      width: 180px;
      height: 130px;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}

.separator {
  border-right: 1px solid var(--border-default-grey);
  margin: 6px 8px;
}

.content {
  display: flex;
  gap: 0 24px;
  flex-direction: column-reverse;
  background-image: none;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    > :first-child {
      flex-grow: 1;
    }
  }
}

.dates {
  display: flex;
}

.unpublishedInfosContainer {
  flex-direction: column;
  gap: 8px;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}

.title {
  margin-bottom: 8px;

  @media (min-width: 768px) {
    margin-bottom: 12px;
  }
}

.title,
.description {
  overflow-wrap: break-word;

  a {
    background: none;
  }
}

.description {
  max-height: 72px;

  /* Standard ellipsis does not work on multiline */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  overflow-wrap: break-word;
}
