.container,
.clickableContainer {
  width: 100%;
  padding: 16px 0;
  border-bottom: 1px solid var(--border-default-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.clickableContainer {
  cursor: pointer;

  &:hover {
    background-color: var(--hover);
  }
}

.backToBasesButton {
  border-top: 1px solid var(--border-default-grey);
}

.arrow {
  color: var(--blue-france-sun-113-625);
}

.content {
  text-align: left;
}

.collections {
  font-size: 14px;
  color: var(--text-default-grey);
  display: flex;
  gap: 8px;
}

.emptyBase {
  margin-top: 16px;
  padding: 48px 32px;
  text-align: center;
  font-weight: 700;
  color: var(--text-mention-grey);
  border: 1px solid var(--border-default-grey);
  border-radius: 8px;
}

.modal:has(.createCollectionButton) {
  :global .fr-modal__footer {
    border-top: 1px solid var(--border-default-grey);

    li {
      width: 100%;
    }
  }
}

.createCollectionButton {
  width: calc(100% - 1rem) !important;
}
