/* DSFR Overrides and custom theming */

/* Card variants */

.fr-card {
  &.fr-card--editable {
    .fr-card__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .fr-card__title {
        order: 0;
        padding: 0.5rem 0;
      }
    }
  }

  .fr-card__separator {
    border-bottom: 1px solid var(--border-default-grey);
    padding: 2rem 0;
  }
}

/* Tags */

.fr-tag--sm {
  line-height: 1rem;
}

/* Remove header dropshadow */

.fr-header {
  filter: none;

  .fr-header__navbar {
    margin-top: 8px;
  }

  /* Custom user menu */
  .fr-header__tools-links {
    /* We have to re-align top position as the buttons were to low, maybe caused by our "big" logo */
    margin-top: -16px;

    &::after {
      margin-top: 0;
    }

    .fr-btn {
      margin-bottom: 0;
      min-height: unset !important;
      font-size: 0.875rem !important;
    }

    .icon-only {
      padding: 8px 12px !important;
    }
  }

  .fr-header__logo {
    margin-right: 0;
  }

  .fr-header__operator {
    padding-left: 4px;
    padding-right: 0;

    @media (min-width: 992px) {
      padding-left: 0;
      margin-right: 16px;
    }
  }

  .fr-header__brand {
    filter: none;
    border-bottom: 1px solid var(--border-default-grey);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .fr-menu {
    margin: 10px 0;
    padding: 0;
  }
}

.fr-nav__container {
  > .fr-container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 62em) {
  /* lg */
  .fr-header {
    box-shadow: inset 0 -1px 0 0 var(--border-default-grey), inset 0 1px 0 0
      var(--border-default-grey);

    .fr-header__body-row {
      padding: 16px 0;
    }

    .fr-header__menu {
      .fr-nav__link:hover {
        box-shadow: inset 0 -1px 0 0 var(--border-default-grey), inset 0 1px 0 0
          var(--border-default-grey);
      }
    }

    .fr-header__tools-links {
      margin-bottom: 0;
    }

    .fr-header__brand {
      border-bottom: none;
      padding-top: 0;
      padding-bottom: 0;
    }

    .fr-menu__list {
      box-shadow: none;
    }
  }

  .fr-nav__container {
    border-top: 1px solid var(--border-default-grey);

    > .fr-container {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
  }
}

/* Fix notice padding right bug and add border radius */
.fr-notice {
  border-radius: 8px;

  .fr-notice__body {
    padding-right: 0;

    &::before {
      top: calc(50% - 12px);
    }

    .fr-notice__title {
      font-weight: 500;
    }
  }
}

.fr-badge {
  text-transform: initial;
}

/* Priority variations */
.fr-notice--warning {
  background: var(--background-contrast-warning);

  --hover: var(--background-contrast-warning-hover);
  --active: var(--background-contrast-warning-active);

  color: var(--text-default-warning);
}

.fr-notice--warning .fr-notice__body::before {
  mask-image: url('/dsfr/icons/system/fr--warning-fill.svg');
  content: '';
}

.fr-notice--new {
  background: var(--background-contrast-yellow-moutarde);

  --hover: var(--background-contrast-yellow-moutarde-hover);
  --active: var(--background-contrast-yellow-moutarde-active);

  color: var(--text-action-high-yellow-moutarde);
}

.fr-notice--new .fr-notice__body::before {
  mask-image: url('/dsfr/icons/weather/flashlight-fill.svg');
  content: '';
}

/* Override input spacing */
.fr-input-group,
.fr-select-group {
  margin-bottom: 16px;
}

.fr-input-group:not(:last-child),
.fr-select-group:not(:last-child) {
  margin-bottom: 16px;
}

/* Hint text spacing */
.fr-hint-text {
  margin-top: 4px !important;
  font-weight: 400;
}

.fr-btn--danger {
  background-color: var(--background-flat-error);
  color: var(--text-inverted-error);

  &:not(:disabled):hover {
    background-color: var(--artwork-minor-red-marianne) !important;
  }

  &:not(:disabled):focus {
    background-color: var(--background-flat-error) !important;
  }
}

.fr-btn--no-after {
  &::after {
    display: none !important;
  }
}

/* Buttons loading state */
@keyframes spinner-rotate-animation {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.fr-btn.fr-btn--loading {
  &:not(.fr-btn--icon-right) {
    &::before {
      mask-image: url('/images/spinner.svg');
      animation: spinner-rotate-animation 1.2s infinite linear;
    }
  }

  &.fr-btn--icon-right {
    &::after {
      mask-image: url('/images/spinner.svg');
      animation: spinner-rotate-animation 1.2s infinite linear;
    }
  }

  /* Button without icon */

  /* Complex implementation as we need to re-implement logic of the ::after like with the fr-icon classes */
  &:not([class*=' fr-icon-']) {
    position: relative;
    color: transparent;

    &::after {
      position: absolute;

      --icon-size: 1.5rem;

      color: var(--text-inverted-blue-france);
      left: calc(50% - (var(--icon-size) / 2));
      content: '';
      background-color: currentcolor;
      display: inline-block;
      flex: 0 0 auto;
      height: var(--icon-size);
      mask-size: 100% 100%;
      vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
      width: var(--icon-size);
      mask-image: url('/images/spinner.svg');
      animation: spinner-rotate-animation 1.2s infinite linear;
    }

    &.fr-btn--sm {
      &::after {
        --icon-size: 1rem;
      }
    }

    &.fr-btn--lg {
      &::after {
        --icon-size: 2rem;
      }
    }

    &:disabled {
      &::after {
        color: var(--text-disabled-grey);
      }
    }

    &.fr-btn--secondary,
    &.fr-btn--tertiary,
    &.fr-btn--tertiary-no-outline {
      &::after {
        color: var(--text-action-high-blue-france);
      }

      &:disabled {
        &::after {
          color: var(--text-disabled-grey);
        }
      }
    }
  }
}

/* Modals */

.fr-modal {
  .fr-modal__header {
    .fr-btn.fr-btn--close {
      font-weight: 400;
    }
  }
}
