.fieldset {
    margin-left: -8px;
    margin-right: -8px;
    padding-left: 8px;
    padding-right: 8px;
    display: grid;
    gap: 16px;

    :global .fr-messages-group {
        padding-left: 4px;
    }
}

.materielFieldset {
    grid-template-columns: repeat(5, 1fr);
}

.thematiquesFieldset {
    grid-template-columns: repeat(3, 1fr);
}

.durationFieldset {
    grid-template-columns: repeat(4, 1fr);
}

.lieuFieldset {
    grid-template-columns: repeat(4, 1fr);
}

.genreFieldset {
    grid-template-columns: repeat(3, 1fr);
}

.yesNoFieldset {
    grid-template-columns: repeat(2, 1fr);
}

.degreDeFinalisationFieldset {
    grid-template-columns: repeat(4, 1fr);
}
