.container {
    max-width: 792px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    flex-direction: column;
    gap: 16px;

    @media (min-width: 576px) {
        flex-direction: row;
        align-items: center;
    }
}
