.materielFieldset {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

.thematiquesFieldset {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.durationFieldSet {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.lieuFieldSet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}


.genreFieldSet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.columnFieldSet {
    gap: 16px;
}
