.closeButton {
  position: absolute;
  top: 24px;
  right: 16px;
  background: var(--background-default-grey);

  @media (min-width: 48em) {
    top: 32px;
    right: 32px;
  }
}

.mdBackgroundBlueFrance925125 {
  @media (min-width: 48em) {
    background: var(--blue-france-925-125);
  }
}

.mdBackgroundBlueFrance97575 {
  @media (min-width: 48em) {
    background: var(--blue-france-975-75);
  }
}
