.content {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: var(--background-default-grey);
  padding: 24px 16px 32px;
  margin: 0;

  @media (min-width: 48em) {
    width: 50%;
    padding: 80px 32px 40px;
  }

  overflow-y: auto;
}

.innerContent {
  @media (min-width: 48em) {
    margin: 0 auto;
    max-width: 486px;
  }
}

.topContent {
  min-height: 400px;
  overflow-y: auto;

  @media (min-width: 48em) {
    height: 50%;
    min-height: 500px;
  }
}

.icon {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: var(--yellow-tournesol-950-100);
  color: var(--yellow-tournesol-sun-407-moon-922);
}

.illustrationContainer {
  display: inline-block;
  width: 50%;
  margin: 0;
  height: 100%;
  overflow: visible;
}

/* Fix for Safari */
.illustrationWrapper {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.illustration {
  object-fit: cover;
  min-width: 100%;
  height: 100%;
  object-position: 0 0;
}

.illustrationBackgroundBlueFrance925125 {
  background: var(--blue-france-925-125);
}

.illustrationBackgroundBlueFrance97575 {
  background: var(--blue-france-975-75);
}

.steps {
  font-size: 14px;

  @media (min-width: 48em) {
    font-size: 16px;
  }
}

.buttons {
  display: flex;
  gap: 16px;
  margin-top: 16px;

  @media (min-width: 48em) {
    margin-top: 24px;
  }
}

.title {
  margin: 16px 0;
  font-size: 18px;
  line-height: 24px;

  @media (min-width: 48em) {
    font-size: 32px;
    line-height: 40px;
    margin: 24px 0;
  }
}
