.card {
  max-width: 582px;
  margin: 0 auto;
}

.title {
  font-size: 20px;

  @media (min-width: 48em) {
    font-size: 32px;
  }
}

.logo {
  width: 54px;
  height: 54px;

  @media (min-width: 48em) {
    width: 64px;
    height: 64px;
  }
}

.description {
  font-size: 18px;
  font-weight: 500;

  @media (min-width: 48em) {
    font-size: 20px;
    font-weight: 700;
  }
}
