.container {
  padding: 48px 0 64px;
  background-color: var(--background-alt-blue-france);
  text-align: center;

  @media (min-width: 768px) {
    padding: 64px 0 80px;
  }

  h1 {
    color: var(--blue-france-sun-113-625);
  }
}

.tileContainer {
  background: var(--light-background-default-grey, #fff);
  border-radius: 16px;
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.chartCardsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.chartCardsContainer > *:nth-last-child(1):nth-child(odd) {
  @media (min-width: 768px) {
    grid-column: 1 / -1;
  }
}

.linkDecoration {
  text-decoration: underline;
}

.necTitle {
  @media (min-width: 768px) {
    text-align: unset !important;
  }
  text-align: center;
}

.necDescription {
  @media (min-width: 768px) {
    text-align: unset !important;
  }
  text-align: center;
}
