.container {
  @media (min-width: 768px) {
    height: 130px;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
}

.dragButton {
  position: absolute;
  pointer-events: none;
  cursor: grab;
  top: 51px;

  /* 4px on the left to allow space for focus-visible outline */
  left: 4px;
  padding: 4px 6px;

  &:active {
    cursor: grabbing;
  }

  &::before {
    line-height: 20px;
    font-size: 20px;
  }

  @media (max-width: 768px) {
    opacity: 0 !important;
  }
}

.arrowUpButton {
  position: absolute;
  cursor: pointer;

  /* top: drag-button / 2 - 6px */
  top: 20px;

  /* 4px on the left to allow space for focus-visible outline */
  left: 4px;
  padding: 4px 6px;

  &::before {
    line-height: 20px;
    font-size: 20px;
  }

  @media (max-width: 768px) {
    opacity: 0 !important;
  }
}

.arrowDownButton {
  position: absolute;
  cursor: pointer;

  /* top: drag-button + drag-button / 2 + 6px */
  top: 82px;

  /* 4px on the left to allow space for focus-visible outline */
  left: 4px;
  padding: 4px 6px;

  &::before {
    line-height: 20px;
    font-size: 20px;
  }

  @media (max-width: 768px) {
    opacity: 0 !important;
  }
}

.content {
  height: 130px;
  position: relative;

  /* Hide content during exit "shrink" animation */
  overflow-y: hidden;

  &:hover,
  &:focus-within {
    .dragButton {
      pointer-events: initial;
    }

    .contentHoverableAction {
      opacity: 1;
      pointer-events: initial;
    }
  }

  &.selected {
    .dragButton {
      opacity: 1 !important;
      pointer-events: initial;
    }
  }
}

.contentList {
  list-style: none;
  margin: 32px 0;

  &:empty {
    margin: 0;
  }

  @media (max-width: 768px) {
    margin: 0;
    padding-inline-start: 0;
  }
}
