.container {
    width: 100%;
    position: relative;
}

.inputWrap {
    position: relative;
    width: auto;
}

.fieldContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


input.input {
    text-align: right;
    margin-top: 0 !important;
    background: var(--grey-1000-75);
    border: var(--slim-grey-border);
    border-radius: 4px;
    box-shadow: none !important;
    padding: 0 48px 0 32px;
    min-height: 34px !important;
    height: 34px !important;
    width: 160px;

    /* Overriding plus and minus features */
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        appearance: none;
    }
}

.label {
    position: absolute;
    left: 0;
    top: 5px;
    font-weight: 500;
    margin: 0;
}

.button {
    position: absolute;
    width: 32px;
    height: calc(100% - 2px);
}

.plus {
    right: 1px;
    top: 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: var(--slim-grey-border);
}

.minus {
    left: 1px;
    top: 1px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: var(--slim-grey-border);
}
