.container {
    position: relative;
}

input.input {
    text-align: right;
    margin-top: 0 !important;
    background: var(--grey-1000-75);
    border: var(--slim-grey-border);
    border-radius: 4px;
    box-shadow: none !important;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    min-height: 56px !important;
    height: 56px !important;
}

.label {
    position: absolute;
    background: var(--grey-1000-75);
    left: 24px;
    top: 17px;
    font-weight: 500;
}
