.container {
  position: relative;
}

.input {
  background-color: var(--background-contrast-grey);

  &[disabled] {
    color: var(--text-disabled-grey);
    cursor: not-allowed;
  }

  :global(.ProseMirror) {
    padding: 8px 16px;
    min-height: 260px;
    outline-offset: 0 !important;
  }

  a {
    &::after {
      content: none;
    }

    cursor: text;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.small {

  :global(.ProseMirror) {
    min-height: 64px;
  }
}