.container {
  width: 465px;
  border-right: var(--slim-grey-border);
}

.collapsed {
  width: fit-content;
}

.collapseButton {
  float: right;
}

.legend {
  padding: 32px;

  nav {
    margin: 0 0 32px;
  }
}

.legendTitle {
  margin: 32px 0 4px;
}