.mapContainer {
  position: relative;
  height: 100%;
  flex: 1;
}

.map {
  height: calc(100% - 40px);
  width: 100%;
}

.division {
  border:none;
}

.popup {
  :global(.maplibregl-popup-tip) {
    border-top-color: transparent !important;
  }

  :global(.maplibregl-popup-content) {
    padding: 8px;
    border-bottom: 3px solid #000091;
    margin-bottom: 8px;
  }
}