.popup {
  width: 448px;
  border-radius: 4px;
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: white;
  box-shadow: 0 4px 12px #00001229;
  padding: 24px;
  max-height: calc(100% - 100px);
  overflow-y: auto;

  h6 {
    margin-bottom: 4px;
  }
}

.close {
  display: flex;
  justify-content: flex-end;
  margin: -8px -8px 0 0;
}
