.popup {
  width: 449px;
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: white;
  box-shadow: 0 4px 12px #00001229;
  padding: 24px;

  h6 {
    margin-bottom: 4px;
  }
}

.close {
  display: flex;
  justify-content: flex-end;
  margin: -20px -20px 0 0;
}