.card {
    border: var(--slim-grey-border);
    padding: 24px;
    display: flex;
    align-items: center;
    margin-top: 16px;
    gap: 24px;
    text-decoration: none;
    background: none;
    text-align: left;
}

.iconContainer {

    height: 64px;
    width: 64px;
    padding: 16px;
    border-radius: 8px;
    background: var(--background-alt-blue-france);
    color: var(--text-default-info);

}

.arrowContainer {
    color: var(--text-title-blue-france);
    padding: 0 8px;
    justify-self: flex-end;

}

.content {
    h3 {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 4px;
        color: var(--text-title-blue-france);
    }

    p {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 24px;

    }
}
