@keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.spinner {
    display: inline-block;
    animation: rotate-animation 1.2s infinite linear;
}

.spinner--sm {
    width: 16px;
    height: 16px;
}

.spinner--md{
    width: 24px;
    height: 24px;
}

.spinner--lg  {
    width: 32px;
    height: 32px;
}
