.container {
  display: flex;

  h1 {
    color: var(--blue-france-sun-113-625);
  }
}

.buttons {
  margin-top: 120px;
  border-top: var(--slim-grey-border);
  padding: 20px 120px;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}