.cards,
.tabCards {
  display: grid;
  grid-template-columns: 1fr; /* 1 column */
  gap: 24px;

  @media (min-width: 48em) {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
}

.actionsButtons {
  @media (max-width: 48em) {
    width: 100% !important;
    justify-content: center;
  }
}

.actionsButtonsContainer {
  width: 100%;

  @media (min-width: 48em) {
    width: auto;
  }
}
