.cards,
.tabCards {
  display: grid;
  grid-template-columns: 1fr; /* 1 column */
  gap: 24px;

  @media (min-width: 48em) {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
}

.tabCards {
  @media (min-width: 48em) {
    margin: 0 -32px;
  }
}
