.container {
  position: relative;
}

.button {
  margin-bottom: 0 !important;
}

.contents {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  background-color: white;
  width: 100%;
  border-right: var(--slim-grey-border);
  border-left: var(--slim-grey-border);
  border-bottom: var(--slim-grey-border);
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  flex-direction: column;

  @media (min-width: 576px) {
    flex-direction: row;
  }

  img {
    margin-bottom: 8px;

    @media (min-width: 576px) {
      margin-bottom: 0;
      margin-right: 8px;
    }
  }

  &:hover {
    background-color: var(--hover);
  }

  &:not(:last-child) {
    border-bottom: var(--slim-grey-border);
  }
}

.dotSeparator {
  display: none;

  @media (min-width: 576px) {
    display: initial;
  }
}
