.title {
  margin-top: 16px;
  color: var(--grey-425-625);
}

.contentAction,
.contentHoverableAction {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
}

.contentHoverableAction{
  opacity: 0;
  pointer-events: none;
}

.content {
  position: relative;

  &:hover {
    .contentHoverableAction {
      opacity: 1;
      pointer-events: initial;
    }
  }
}

.dragButton {
  position: absolute;
  top: 0;
  left: -48px;
}
