

.container {
    border: var(--slim-grey-border);
}

.emptyContainer {
    border: 1px dashed var(--border-default-grey);

    img {
        margin-top: 16px;

        @media (min-width: 768px) {
            margin-left: 40px;
        }
    }
}

.container, .emptyContainer {
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    gap: 0;

    @media (min-width: 768px) {
        flex-direction: row;
        gap: 16px;

    }

    label {
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;

        span {
            margin-top: 0 !important;
            line-height: 24px;
            font-weight: 400;
        }
    }
}

.imageContainer {
    width: 100%;
    background: var(--background-contrast-info);
    display: block;
    overflow:hidden;
    aspect-ratio: 1.4;
    max-height: 240px;
    min-width: 168px;

    @media (min-width: 768px) {
        max-width: 240px;
        min-height: 168px;
    }

    img {
        object-fit: cover;
        display: block;
        margin: 0 auto;
        height: 100%;
    }
}

.inputContainer{
    display: flex;
    align-items: flex-end;
    padding: 16px;
    width: 100%;

    @media (min-width: 768px) {
        padding: 24px;
    }

    label {
        margin-bottom: 0 !important;
    }
}

.grey {
    color: var(--grey-425-625);
}
