.modal {
  :global(.input-container) {
    padding-right: 133px;
  }
}

.actions {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.search {
  position: relative;
  flex: 1;
}

.select {
  position: absolute;
  right: 8px;
  height: 100%;
  transform: translateY(calc(-50% + 6px));
  
  select {
    appearance: auto;
    font-weight: 500 !important;
  }
}

.selectWithError {
  transform: translateY(calc(-50% - 10px));
}