.container {
  border-top: var(--slim-grey-border);
  display: flex;
  justify-content: space-between;
}

.content {
  padding: 24px 0;
  flex: 1;
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--text-action-high-grey);
  background-image: none;
}

.logo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #BFCCFB;
}

.select {
  font-size: 14px;
  font-weight: 500;
  color: var(--blue-france-sun-113-625);
  appearance: auto;
  padding: 4px 8px 4px 12px;
  text-align: right;
}

.iconActions,
.actions {
  padding: 24px 0;
  display: flex;
  align-items: center;
}

.actions {
  gap: 24px;
}

.iconActions {
  gap: 8px;
}