.inviteInput {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: stretch;
  width: 100%;

  @media (min-width: 768px) {
    width: auto;
    flex-direction: row;
  }
}

.input {
  width: 100%;

  @media (min-width: 768px) {
    flex: 1;
  }
}

.inviteButton {
  @media (min-width: 768px) {
    margin-top: 40px;
  }
}

.contributors {
  padding: 16px 24px;
  background-color: var(--info-950-100);
  border-radius: 8px;
  font-size: 14px;

  span {
    color: #0063cb;
    margin-right: 16px;
  }
}

.contributor {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.user {
  display: flex;
  align-items: center;
}

.creator {
  color: var(--text-mention-grey);
}
