.card {
  width: 100%;
  margin: 0 auto 120px;
  background: var(--background-default-grey);
  padding: 48px 16px;
  border-radius: 8px;
  border: 1px solid var(--border-default-grey);

  @media (min-width: 36em) {
    /*! media sm */
    padding: 48px 32px;
  }

  /* lg */
  @media (min-width: 48em) {
    padding: 48px;
  }
}

.inner {
  margin: 0 auto;
}
