.container {
  position: relative;
  height: 100%;
  background-color: #E8EDFF;

}

.mapContainer {
  height: 100%;
  max-height: 890px;
  position: relative;
}

.map {
  width: 100%;
  height: 100%;

  :global(.maplibregl-canvas) {
    cursor: default;
  }
}

.departement {
  color: var(--text-title-blue-france);
  position: absolute;
  top: 16px;
  left: 16px;
}

.actionBox {
  border: 1px solid #161616;
  margin: 0 32px;
  background-color: white;
  position: absolute;
  display: flex;
  gap: 16px;
  bottom: 32px;
  padding: 24px 32px;
}

.blueIcon {
  color: var(--text-title-blue-france);
}

.source {
  text-align: right;
}
