.bloc {
  border: var(--slim-grey-border);
  padding: 32px;
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: var(--slim-grey-border);

  h3,
  h6 {
    margin-bottom: 0;
  }
}