
.header {
  display: flex;
  justify-content: space-between;
  color: var(--text-action-high-grey);
  margin-bottom: 16px;
}

.select {
  font-size: 14px;
  font-weight: 500;
  color: var(--blue-france-sun-113-625);

  select {
    appearance: auto;
    font-weight: 500;
    color: var(--blue-france-sun-113-625);
  }
}
