.menu {
  display: flex;
  border-bottom: 1px solid var(--border-default-grey);
  margin-bottom: 32px;

  @media (min-width: 768px) {
    margin-bottom: 48px;
  }

  :global(.fr-nav__list) {
    justify-content: center;
  }
}
