.searchBar {
  max-width: 588px;
  margin: auto;
  position: relative;
}

.quickSearch {
  width: 100%;
}

.resultsContainer {
  width: 100%;
  position: absolute;
  top: 48px;
  z-index: 1;
  box-shadow: 0 12px 32px -8px rgb(0 0 36 / 12%);
  background-color: white;
  max-width: 588px;
  margin: auto;
  text-align: left;
  padding: 16px;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 24px 0;
  color: var(--grey-425-625) !important;
}

.resultsFooter {
  padding: 16px 32px;
  border-top: var(--slim-grey-border);

  button {
    justify-content: center;
    width: 100%;
    margin: 0;
  }
}

.results {
  padding-top: 12px;
}

.resource {
  color: var(--text-default-grey);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.base,
.profile {
  display: flex;
  align-items: center;
  color: var(--text-mention-grey);

  div {
    flex-shrink: 0;
  }

  span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.resource,
.base,
.profile {
  display: flex;
  background-image: none;
  padding: 8px 16px;
  flex-wrap: nowrap;

  &:hover {
    background-color: var(--background-default-grey-hover) !important;
  }
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--background-contrast-info);
  margin-right: 8px;
  flex-shrink: 0;
}

