.container {
  max-width: 800px;
  margin: auto;
  position: relative;
}

.input {
  border-bottom: 2px solid var(--blue-france-sun-113-625);
  border-bottom-left-radius: 0;
  border-right: none;
}

.quickSearch {
  width: 100%;
}

.resultsContainer {
  width: 100%;
  position: absolute;
  top: 48px;
  z-index: 1;
  box-shadow: 0 12px 32px -8px rgb(0 0 36 / 12%);
  background-color: var(--background-default-grey);
  max-width: 588px;
  margin: auto;
  text-align: left;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 16px;
  color: var(--grey-425-625) !important;
}

.optionsContainer {
  width: 100%;
  padding: 16px;
}

.resultsFooter {
  padding: 16px;
  border-top: 1px solid var(--border-default-grey);
}

.allResultsButton {
  ::before {
    content: '';
    display: none !important;
  }

  justify-content: center;
  width: 100%;
  margin: 0;
}

.results {
  padding-top: 12px;

  > :first-child {
    display: block;
    margin: 0 16px;
    width: calc(100% - 32px);
    padding-bottom: 11px;
    border-bottom: 1px solid var(--border-default-grey);
  }
}

.resource {
  color: var(--text-default-grey);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
}

.base,
.profile {
  display: flex;
  font-size: 14px;
  align-items: center;
  color: var(--text-mention-grey);

  div {
    flex-shrink: 0;
  }

  span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.resource,
.base,
.profile {
  display: flex;
  background-image: none;
  padding: 8px 16px;
  flex-wrap: nowrap;

  &:hover {
    background-color: var(--background-default-grey-hover) !important;
  }
}
