.sideMenu {
    /* md */
    @media (min-width: 48em) {
        :global .fr-sidemenu__inner {
            padding-right: 0 !important;
        }
    }
}

.item {
    :global .fr-sidemenu__link:has(.fr-btn) {
        margin-top: 24px;
        padding: 0 !important;

        &:hover {
            background-color: transparent !important;
        }
    }
}
