.sideMenu {
    /* md */
    @media (min-width: 48em) {
        :global .fr-sidemenu__inner {
            padding: 24px !important;
        }
    }
}

.item {
    margin-bottom: 8px;

    :global .fr-sidemenu__link {
        font-weight: 500;
        padding: 8px;
        line-height: 24px;

        &:before {
            margin-left: -2px;
            bottom: 10px !important;
            top: 10px !important;
        }
    }

    :global .fr-sidemenu__link:has(.fr-btn) {
        padding: 0 !important;

        &:hover {
            background-color: transparent !important;
        }
    }
}
