.container {
  background-color: var(--background-alt-blue-france);
}

.baseInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 16px auto 48px;

  h2 {
    color: var(--blue-france-sun-113-625);
    margin-bottom: 8px;
  }
}

.buttons {
  margin-top: 24px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;

  @media (min-width: 576px) {
    flex-direction: row;
  }
}
