.container {
  background-color: var(--background-alt-blue-france);
}

.banner {
  margin-top: 8px;
  height: 250px;
  background-color: #E3E3FD;
}

.logo {
  border-radius: 50%;
  height: 128px;
  width: 128px;
  border: solid 1px white;
  background-color: #E8EDFF;
  margin: -64px auto 0;
}

.baseInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 16px auto 48px;

  h2 {
    color: var(--blue-france-sun-113-625);
    margin-bottom: 8px;
  }
}