.container {
  display: flex;
  flex-direction: column;
  border-bottom: var(--slim-grey-border);
  gap: 16px;
  padding: 16px 0;

  &:first-of-type {
    border-top: var(--slim-grey-border);
  }

  @media (min-width: 576px) {
    gap: 32px;
    flex-direction: row;
    align-items: center;
  }
}

.content {
  flex: 1;
  display: flex;
  gap: 16px;
  align-items: center;
  color: var(--text-action-high-grey);
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.link {
  background-image: none;
}

.select {
  font-size: 14px;
  font-weight: 500;
  color: var(--blue-france-sun-113-625);
  appearance: auto;
  padding: 4px 8px 4px 12px;
  text-align: right;
}
