.title {
  @media (min-width: 768px) {
    width: 160px;
  }
}

.inclusionCard,
.cultureNumCard,
.communsCard,
.numeriqueCard {
  box-sizing: border-box;
  border: 2px solid transparent;
}

.inclusionCard:hover {
  border-color: var(--green-archipel-main-557) !important;
  background-color: var(--green-archipel-950-100) !important;
}

.cultureNumCard:hover {
  border-color: var(--pink-tuile-main-556) !important;
  background-color: var(--pink-tuile-950-100) !important;
}

.communsCard:hover {
  border-color: var(--yellow-tournesol-main-731) !important;
  background-color: var(--yellow-tournesol-950-100) !important;
}

.numeriqueCard:hover {
  border-color: var(--green-bourgeon-main-640) !important;
  background-color: var(--green-bourgeon-950-100) !important;
}
