.toast {
    border-radius: 8px;
    box-shadow: 0 8px 24px -6px rgb(0 0 36 / 12%);

    > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

.icon {
}

.action {
    background: transparent !important;
    color: inherit !important;
    text-decoration: underline;
}

.info {
    background-color: var(--background-contrast-info);
    --hover: var(--background-contrast-info-hover);
    --active: var(--background-contrast-info-active);
    color: var(--text-default-info);
    .icon {
        color: var(--text-default-info);
    }
}

.warning {
    background-color: var(--background-contrast-warning);
    --hover: var(--background-contrast-warning-hover);
    --active: var(--background-contrast-warning-active);
    color: var(--text-default-warning);
    .icon {
        color: var(--text-default-warning);
    }
}
.error {
    background-color: var(--background-contrast-error);
    --hover: var(--background-contrast-error-hover);
    --active: var(--background-contrast-error-active);
    color: var(--text-default-error);
    .icon {
        color: var(--text-default-error);
    }
}

.success {
    background-color: var(--background-contrast-success);
    --hover: var(--background-contrast-success-hover);
    --active: var(--background-contrast-success-active);
    color: var(--text-default-success);
    .icon {
        color: var(--text-default-success);
    }
}
